KEYCLOAK_URL=http://<IP-CENTRAL>:8080
KEYCLOAK_REALM=plataforma-integrada
KEYCLOAK_CLIENT_ID=sistema-b

VAULT_ADDR=http://<IP-CENTRAL>:8200
VAULT_TOKEN=vault_root_token
VAULT_TRANSIT_KEY=plataforma-key

FRONTEND_ORIGIN=http://localhost:5173
PORT=3000

DB_PATH=./data/panel.sqlite
